@model BlogMVCWebApp.Web.Models.DomainModel.Tag
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h1>Tag Details</h1>
    <form method="Post" action="EditTag">
        <div class="mb-3">
            <label for="" class="form-label">ID</label>
            <input type="text" class="form-control" asp-for="ID" readonly>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Display Name</label>
            <input type="text" class="form-control" asp-for="DisplayName">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
  @*      <button type="submit" class="btn btn-danger" asp-area=""
                asp-controller="AdminTag"
                asp-action="DeleteTag">
            Delete
        </button>*@
    </form>
</div>